* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.register-container {
    width: 100%;
    max-width: 320px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.flashes {
    color: red;
    font-size: 0.9rem;
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

/* 로고 텍스트 */
.logo {
    position: absolute; /* 페이지의 절대 위치 지정 */
    top: 20px; /* 페이지 위쪽에서 20px 아래로 이동 */
    left: 20px; /* 페이지 왼쪽에서 20px 오른쪽으로 이동 */
    font-family: 'Bagel Fat One', cursive;
    font-size: 1rem;
    color: rgb(39, 179, 235);
    margin: 0;
}