body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}
.container h2 {
    margin-bottom: 20px;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.form-group input:focus, .form-group select:focus {
    outline: none;
    border-color: #007bff;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #0056b3;
}

/* 로고 텍스트 */
.logo {
    position: absolute; /* 페이지의 절대 위치 지정 */
    top: 20px; /* 페이지 위쪽에서 20px 아래로 이동 */
    left: 20px; /* 페이지 왼쪽에서 20px 오른쪽으로 이동 */
    font-family: 'Bagel Fat One', cursive;
    font-size: 1rem;
    color: rgb(39, 179, 235);
    margin: 0;
}