<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/register.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap" rel="stylesheet">
    <title>회원가입</title>
    
</head>
<body>
    <!-- 로고 텍스트 -->
    <div class="logo">
        <h1>티노 극장</h1>
    </div>
    <div class="register-container">
        <h2>회원가입</h2>
        <form action="{{ url_for('register') }}" method="POST">
            <label for="CustomerID">아이디:</label>
            <input type="text" name="CustomerID" id="CustomerID" required>
            
            <label for="Name">이름:</label>
            <input type="text" name="Name" id="Name" required>
            
            <label for="Password">비밀번호:</label>
            <input type="password" name="Password" id="Password" required>
            
            <label for="PhoneNumber">전화번호:</label>
            <input type="text" name="PhoneNumber" id="PhoneNumber">
            
            <label for="Email">이메일:</label>
            <input type="email" name="Email" id="Email" required>
            
            <label for="BirthDate">생년월일:</label>
            <input type="text" name="BirthDate" id="BirthDate" placeholder="YYYYMMDD" required>
            
            <button type="submit">회원가입</button>
        </form>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
